![](2022-11-22-01-03-29.png)

# Data Cleaning and Vectorization For NLP

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

# import warnings
# warnings.filterwarnings("ignore")
# pd.set_option('display.max_columns', 50)

![](2022-11-22-01-04-41.png)

## Tokenization

In [2]:
import nltk

In [3]:
sample_text = "Awesome!!!, This is fantastic!!!. We are very pleased...3456"

In [4]:
from nltk.tokenize import word_tokenize , sent_tokenize

In [5]:
# nltk.download('punkt')

In [6]:
word_token = word_tokenize(sample_text.lower())
sent_token = sent_tokenize(sample_text.lower())

In [7]:
word_token

['awesome',
 '!',
 '!',
 '!',
 ',',
 'this',
 'is',
 'fantastic',
 '!',
 '!',
 '!',
 '.',
 'we',
 'are',
 'very',
 'pleased',
 '...',
 '3456']

In [8]:
sent_token

['awesome!!', '!, this is fantastic!!!.', 'we are very pleased...3456']

## Removing Punctuation and Numbers

In [9]:
tokens_without_punc = [w for w in word_token if w.isalpha()] # .isal() for only alphabetics. # .isalnum() for number and object 
tokens_without_punc  # If you want to keep numbers, you should use .isalnum() rather than isalpha()

['awesome', 'this', 'is', 'fantastic', 'we', 'are', 'very', 'pleased']

In [10]:
tokens_without_punc = [w for w in word_token if w.isalnum()]
tokens_without_punc

['awesome', 'this', 'is', 'fantastic', 'we', 'are', 'very', 'pleased', '3456']

![](2022-11-22-01-18-33.png)

## Removing Stopwords

In [11]:
# nltk.download('stopwords')

In [12]:
from nltk.corpus import stopwords

In [13]:
stop_words = stopwords.words('english') # Our all stopwords.
print(stop_words)
print(len(stop_words))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
179

In [14]:
stop_words2 = stopwords.words('turkish') # Our all stopwords.
print(stop_words2)
print(len(stop_words2))

['acaba', 'ama', 'aslında', 'az', 'bazı', 'belki', 'biri', 'birkaç', 'birşey', 'biz', 'bu', 'çok', 'çünkü', 'da', 'daha', 'de', 'defa', 'diye', 'eğer', 'en', 'gibi', 'hem', 'hep', 'hepsi', 'her', 'hiç', 'için', 'ile', 'ise', 'kez', 'ki', 'kim', 'mı', 'mu', 'mü', 'nasıl', 'ne', 'neden', 'nerde', 'nerede', 'nereye', 'niçin', 'niye', 'o', 'sanki', 'şey', 'siz', 'şu', 'tüm', 've', 'veya', 'ya', 'yani']
53

In [15]:
tokens_without_punc

['awesome', 'this', 'is', 'fantastic', 'we', 'are', 'very', 'pleased', '3456']

In [16]:
tokens_without_sw = [w for w in tokens_without_punc if w not in stop_words]# if you make a sentiment analysis , you can't remove 
                                                                           # negative auxiliary verb
tokens_without_sw

['awesome', 'fantastic', 'pleased', '3456']

![](2022-11-22-01-39-47.png)

## Data Normalization-Lemmatization

In [17]:
from nltk.stem import WordNetLemmatizer

In [18]:
# nltk.download('wordnet')

In [19]:
# nltk.download('omw-1.4')

In [20]:
WordNetLemmatizer().lemmatize("children")

'child'

In [21]:
WordNetLemmatizer().lemmatize("runs" , pos = 'n')  # 'v' mean verbs. n mean nouns.

'run'

In [22]:
lem = [WordNetLemmatizer().lemmatize(t) for t in tokens_without_sw]
lem

['awesome', 'fantastic', 'pleased', '3456']

![](2022-11-22-01-57-41.png)

## Data Normalization-Stemming

In [23]:
from nltk.stem import PorterStemmer

In [24]:
PorterStemmer().stem('development')

'develop'

In [25]:
stem = [PorterStemmer().stem(t) for t in tokens_without_sw]
stem

['awesom', 'fantast', 'pleas', '3456']

## Joining

In [26]:
" ".join(lem)

'awesome fantastic pleased 3456'

## Cleaning Function - for classification (NOT for sentiment analysis)

In [27]:
def cleaning(data):
    
    #1. Tokenize
    text_tokens = word_tokenize(data.lower()) 
    
    #2. Remove Puncs
    tokens_without_punc = [w for w in text_tokens if w.isalpha()]
    
    #3. Removing Stopwords
    tokens_without_sw = [t for t in tokens_without_punc if t not in stop_words]
    
    #4. lemma
    text_cleaned = [WordNetLemmatizer().lemmatize(t) for t in tokens_without_sw]
    
    #joining
    return " ".join(text_cleaned)

In [28]:
pd.Series(sample_text).apply(cleaning)

0    awesome fantastic pleased
dtype: object

## Cleaning Function - for sentiment analysis

In [29]:
sample_text= "Awesome!!!, This is fantastic!!!. We are very pleased...3456. don't eat, isn't. no problem for me"

In [30]:
s = sample_text.replace("'",'')
word = word_tokenize(s)
word

['Awesome',
 '!',
 '!',
 '!',
 ',',
 'This',
 'is',
 'fantastic',
 '!',
 '!',
 '!',
 '.',
 'We',
 'are',
 'very',
 'pleased',
 '...',
 '3456.',
 'dont',
 'eat',
 ',',
 'isnt',
 '.',
 'no',
 'problem',
 'for',
 'me']

In [31]:
# Removing Stopwords
for i in ["not", "no"]:
    stop_words.remove(i)

def cleaning_fsa(data):
    
    
    #1. removing upper brackets to keep negative auxiliary verbs in text
    text = data.replace("'",'')
         
    #2. Tokenize
    text_tokens = word_tokenize(text.lower()) 
    
    #3. Remove numbers
    tokens_without_punc = [w for w in text_tokens if w.isalpha()]
    
    
        
    tokens_without_sw = [t for t in tokens_without_punc if t not in stop_words]
    
    #4. lemma
    text_cleaned = [WordNetLemmatizer().lemmatize(t) for t in tokens_without_sw]
    
    #joining
    return " ".join(text_cleaned)

In [32]:
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'nor',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [33]:
pd.Series(sample_text).apply(cleaning_fsa)

0    awesome fantastic pleased dont eat isnt no pro...
dtype: object

## CountVectorization and TF-IDF Vectorization

In [34]:
df = pd.read_csv("airline_tweets.csv")
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [35]:
df = df[['airline_sentiment','text']]
df

      airline_sentiment                                               text
0               neutral                @VirginAmerica What @dhepburn said.
1              positive  @VirginAmerica plus you've added commercials t...
2               neutral  @VirginAmerica I didn't today... Must mean I n...
3              negative  @VirginAmerica it's really aggressive to blast...
4              negative  @VirginAmerica and it's a really big bad thing...
...                 ...                                                ...
14635          positive  @AmericanAir thank you we got on a different f...
14636          negative  @AmericanAir leaving over 20 minutes Late Flig...
14637           neutral  @AmericanAir Please bring American Airlines to...
14638          negative  @AmericanAir you have my money, you change my ...
14639           neutral  @AmericanAir we have 8 ppl so we need 2 know h...

[14640 rows x 2 columns]

In [36]:
df.head(8)

  airline_sentiment                                               text
0           neutral                @VirginAmerica What @dhepburn said.
1          positive  @VirginAmerica plus you've added commercials t...
2           neutral  @VirginAmerica I didn't today... Must mean I n...
3          negative  @VirginAmerica it's really aggressive to blast...
4          negative  @VirginAmerica and it's a really big bad thing...
5          negative  @VirginAmerica seriously would pay $30 a fligh...
6          positive  @VirginAmerica yes, nearly every time I fly VX...
7           neutral  @VirginAmerica Really missed a prime opportuni...

In [37]:
df2 = df.copy()

In [38]:
df2["text"] = df2["text"].apply(cleaning)
df2.head(8)

  airline_sentiment                                               text
0           neutral                        virginamerica dhepburn said
1          positive  virginamerica plus added commercial experience...
2           neutral  virginamerica today must mean need take anothe...
3          negative  virginamerica really aggressive blast obnoxiou...
4          negative                 virginamerica really big bad thing
5          negative  virginamerica seriously would pay flight seat ...
6          positive  virginamerica yes nearly every time fly vx ear...
7           neutral  virginamerica really missed prime opportunity ...

![](2022-11-22-02-08-45.png)

## CountVectorization

In [39]:
X = df2["text"]
y = df2["airline_sentiment"]

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, stratify = y, random_state = 53)

In [42]:
from sklearn.feature_extraction.text import CountVectorizer

In [43]:
vectorizer = CountVectorizer()

X_train_count = vectorizer.fit_transform(X_train)   # Only fitting with X_train as we do at fitting scaler.
X_test_count = vectorizer.transform(X_test)     # If the word in X test is not in X train, it is ignored.
# That's why its needs to train in the big Corpus so that we can get good results

In [48]:
vectorizer.get_feature_names_out()

array(['aa', 'aaaand', 'aaadvantage', ..., 'zrh', 'zukes', 'zurich'],
      dtype=object)

In [49]:
X_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [53]:
df_count = pd.DataFrame(X_train_count.toarray(), columns = vectorizer.get_feature_names_out())
df_count

,aa,aaaand,aaadvantage,aaalwayslate,aacustomerservice,aadavantage,aadv,aadvantage,aafail,aaron,...,yyz,zabsonre,zambia,zero,zfv,zkatcher,zone,zrh,zukes,zurich
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
X_train

2316                united also checked email file correct
2648     united hear guitar damaged december use guitar...
12396                     americanair yes bit follow ca dm
7186     jetblue believe irina super disappointed eatup...
13875    americanair seriously not want wait hour fligh...
                               ...
5056     southwestair give info flt bdl see cancelled f...
3710     united think guy half full flight held overboo...
5544                  southwestair got taken care thank lt
13638    americanair visiting sju returning paris check...
7421     jetblue domestic clear not sit lovely terminal...
Name: text, Length: 7320, dtype: object

In [58]:
X_train[5]

'virginamerica seriously would pay flight seat playing really bad thing flying va'

In [59]:
vectorizer.vocabulary_

{'united': 6782,
 'also': 210,
 'checked': 1064,
 'email': 2039,
 'file': 2382,
 'correct': 1393,
 'hear': 2945,
 'guitar': 2852,
 'damaged': 1562,
 'december': 1609,
 'use': 6878,
 'earn': 1974,
 'living': 3750,
 'get': 2701,
 'act': 66,
 'together': 6543,
 'americanair': 234,
 'yes': 7258,
 'bit': 678,
 'follow': 2512,
 'ca': 892,
 'dm': 1853,
 'jetblue': 3446,
 'believe': 619,
 'irina': 3376,
 'super': 6231,
 'disappointed': 1784,
 'eatup': 1992,
 'cafe': 900,
 'available': 472,
 'bos': 754,
 'gt': 2838,
 'sfo': 5738,
 'flight': 2442,
 'today': 6541,
 'seriously': 5716,
 'not': 4362,
 'want': 7016,
 'wait': 6991,
 'hour': 3090,
 'prepare': 4939,
 'family': 2308,
 'funeral': 2642,
 'usairways': 6865,
 'worst': 7189,
 'airline': 150,
 'alfamilyoffour': 182,
 'maybe': 3958,
 'anyone': 300,
 'answering': 288,
 'phone': 4750,
 'would': 7201,
 'please': 4818,
 'call': 910,
 'back': 512,
 'late': 3627,
 'flightr': 2463,
 'good': 2763,
 'enough': 2090,
 'made': 3864,
 'miss': 4093,
 'first': 2410,
 'class': 1136,
 'even': 2159,
 'enter': 2096,
 'admiral': 90,
 'club': 1173,
 'happy': 2896,
 'fix': 2418,
 'show': 5798,
 'seat': 5652,
 'need': 4237,
 'honor': 3050,
 'shouldnt': 5795,
 'spend': 6032,
 'really': 5175,
 'someone': 5967,
 'assist': 411,
 'waiting': 6994,
 'twitter': 6700,
 'virginamerica': 6963,
 'got': 2776,
 'squared': 6066,
 'away': 493,
 'picked': 4762,
 'soon': 5976,
 'tweeted': 6693,
 'sooner': 5977,
 'southwestair': 6001,
 'writing': 7217,
 'service': 5721,
 'via': 6942,
 'company': 1255,
 'transport': 6611,
 'well': 7072,
 'client': 1156,
 'monthly': 4139,
 'sw': 6267,
 'cancelled': 923,
 'wanted': 7018,
 'take': 6323,
 'keep': 3530,
 'price': 4963,
 'held': 2961,
 'june': 3514,
 'yet': 7261,
 'put': 5080,
 'russell': 5531,
 'daiber': 1554,
 'ticket': 6496,
 'premium': 4936,
 'eco': 1998,
 'appreciated': 330,
 'trying': 6667,
 'change': 1028,
 'reservation': 5367,
 'hanging': 2885,
 'frustrating': 2614,
 'paid': 4599,
 'refund': 5247,
 'book': 741,
 'award': 491,
 'september': 5712,
 'aegeanairlines': 106,
 'many': 3914,
 'availab': 470,
 'sev': 5729,
 'ppl': 4895,
 'im': 3177,
 'office': 4441,
 'received': 5191,
 'apology': 310,
 'ff': 2366,
 'mile': 4060,
 'delay': 1638,
 'apologize': 308,
 'select': 5683,
 'nothing': 4373,
 'icloud': 3141,
 'help': 2967,
 'according': 48,
 'jfk': 3465,
 'plenty': 4830,
 'plane': 4797,
 'landing': 3612,
 'no': 4298,
 'problem': 4988,
 'air': 144,
 'traffic': 6595,
 'crew': 1472,
 'could': 1409,
 'shit': 5771,
 'one': 4469,
 'notice': 4374,
 'rudeness': 5516,
 'ground': 2825,
 'staff': 6073,
 'faa': 2278,
 'guideline': 2849,
 'regarding': 5256,
 'bumping': 861,
 'acceptable': 32,
 'give': 2727,
 'voucher': 6981,
 'fare': 2314,
 'cab': 893,
 'ride': 5438,
 'dfw': 1730,
 'love': 3820,
 'bag': 535,
 'reimburse': 5268,
 'thank': 6410,
 'much': 4179,
 'mac': 3861,
 'computer': 1287,
 'left': 3665,
 'bwi': 887,
 'la': 3594,
 'reward': 5429,
 'recovery': 5211,
 'info': 3274,
 'important': 3195,
 'passenger': 4649,
 'honesty': 3047,
 'agent': 125,
 'wo': 7160,
 'hold': 3030,
 'connection': 1321,
 'arriving': 379,
 'min': 4068,
 'departure': 1675,
 'time': 6510,
 'flt': 2478,
 'gate': 2676,
 'day': 1583,
 'fly': 2481,
 'two': 6703,
 'delayed': 1639,
 'still': 6125,
 'ewr': 2183,
 'interaction': 3334,
 'people': 4704,
 'morning': 4146,
 'bad': 523,
 'weather': 7050,
 'sorry': 5985,
 'wont': 7169,
 'flying': 2490,
 'kind': 3554,
 'hardworking': 2910,
 'infrastructure': 3282,
 'given': 2728,
 'horrid': 3076,
 'massivefail': 3944,
 'failphone': 2292,
 'fail': 2286,
 'empathizes': 2058,
 'disappointment': 1786,
 'entertainmnt': 2103,
 'worth': 7199,
 'unfriendlyskies': 6772,
 'http': 3104,
 'travisamex': 6628,
 'gross': 2821,
 'incompetence': 3229,
 'understaffing': 6749,
 'forgetting': 2534,
 'load': 3758,
 'duck': 1944,
 'truth': 6661,
 'must': 4190,
 'heard': 2946,
 'wrong': 7219,
 'sweet': 6280,
 'mixtape': 4112,
 'though': 6468,
 'record': 5206,
 'leave': 3661,
 'done': 1878,
 'ua': 6714,
 'copilot': 1384,
 'raleigh': 5125,
 'disappointing': 1785,
 'hrl': 3101,
 'limited': 3720,
 'route': 5496,
 'sitting': 5855,
 'talking': 6333,
 'tech': 6364,
 'conference': 1300,
 'awesome': 495,
 'guy': 2856,
 'rolled': 5484,
 'across': 65,
 'luv': 3850,
 'lol': 3786,
 'go': 2744,
 'cleveland': 1151,
 'instead': 3313,
 'huge': 3108,
 'thanks': 6417,
 'flew': 2434,
 'dca': 1590,
 'sju': 5864,
 'monday': 4130,
 'night': 4289,
 'snow': 5936,
 'reference': 5232,
 'id': 3145,
 'number': 4399,
 'looking': 3797,
 'poor': 4860,
 'experience': 2241,
 'malfunction': 3893,
 'stuck': 6183,
 'missing': 4099,
 'meeting': 3994,
 'san': 5565,
 'diego': 1745,
 'home': 3039,
 'telling': 6378,
 'compensation': 1265,
 'anything': 301,
 'income': 3227,
 'fll': 2470,
 'hotel': 3085,
 'necessary': 4235,
 'remember': 5300,
 'business': 873,
 'pleasant': 4816,
 'mean': 3971,
 'tell': 6376,
 'friend': 2591,
 'everyone': 2171,
 'see': 5672,
 'ever': 2167,
 'lost': 3809,
 'luggage': 3843,
 'infant': 3265,
 'year': 7250,
 'old': 4461,
 'customer': 1525,
 'never': 4259,
 'answered': 287,
 'tried': 6639,
 'philadelphia': 4740,
 'minute': 4077,
 'great': 2802,
 'new': 4266,
 'logo': 3784,
 'going': 2752,
 'look': 3793,
 'amazing': 226,
 'airplane': 154,
 'pilot': 4772,
 'another': 284,
 'attendant': 441,
 'walking': 7007,
 'laughing': 3635,
 'wow': 7207,
 'flightled': 2457,
 'lga': 3689,
 'delta': 1654,
 'took': 6561,
 'like': 3708,
 'carrier': 960,
 'pls': 4835,
 'sure': 6247,
 'ots': 4534,
 'pant': 4615,
 'lot': 3815,
 'cranky': 1450,
 'line': 3724,
 'cmh': 1178,
 'reflight': 5236,
 'booking': 743,
 'delaying': 1641,
 'direct': 1767,
 'flyer': 2485,
 'next': 4275,
 'free': 2575,
 'cocktail': 1193,
 'denver': 1666,
 'rock': 5476,
 'open': 4491,
 'letter': 3684,
 'lt': 3836,
 'child': 1085,
 'inspired': 3308,
 'incredible': 3240,
 'svc': 6265,
 'mint': 4075,
 'magic': 3871,
 'dfwairport': 1731,
 'listening': 3737,
 'taking': 6328,
 'house': 3092,
 'kicking': 3543,
 'tomorrow': 6553,
 'iceday': 3138,
 'find': 2396,
 'ny': 4409,
 'scheduled': 5616,
 'checking': 1067,
 'okay': 4456,
 'stranded': 6156,
 'blame': 693,
 'speak': 6017,
 'understand': 6750,
 'concept': 1289,
 'zone': 7296,
 'hand': 2871,
 'experienced': 2242,
 'make': 3883,
 'comcast': 1223,
 'unitedairlines': 6784,
 'giving': 2729,
 'cot': 1406,
 'room': 5489,
 'terrible': 6391,
 'mom': 4124,
 'always': 218,
 'said': 5554,
 'settle': 5727,
 'chip': 1092,
 'ai': 141,
 'blue': 717,
 'accordingly': 49,
 'dont': 1881,
 'respond': 5380,
 'figured': 2381,
 'listed': 3735,
 'almost': 203,
 'hr': 3100,
 'cheer': 1069,
 'karen': 3523,
 'riedel': 5442,
 'star': 6084,
 'employee': 2061,
 'miracle': 4078,
 'worker': 7179,
 'thought': 6469,
 'smooth': 5918,
 'nicely': 4284,
 'flighted': 2450,
 'tonight': 6558,
 'auto': 464,
 'rebooked': 5184,
 'tuesday': 6679,
 'work': 7176,
 'showing': 5800,
 'departed': 1671,
 'bought': 765,
 'published': 5059,
 'mistake': 4103,
 'indicates': 3250,
 'credit': 1470,
 'fm': 2504,
 'prev': 4954,
 'cxl': 1543,
 'tix': 6525,
 'online': 4477,
 'rep': 5322,
 'called': 912,
 'quoted': 5110,
 'higher': 2999,
 'website': 7057,
 'sna': 5926,
 'mke': 4113,
 'ord': 4509,
 'weepysweetmonty': 7065,
 'youre': 7275,
 'planning': 4801,
 'letting': 3685,
 'overhead': 4564,
 'compartment': 1257,
 'asap': 387,
 'yyz': 7290,
 'issue': 3387,
 'cleared': 1148,
 'beautifully': 596,
 'check': 1063,
 'aa': 0,
 'supervisor': 6235,
 'emplid': 2060,
 'allowed': 197,
 'sj': 5862,
 'final': 2392,
 'boarding': 728,
 'know': 3574,
 'ala': 166,
 'live': 3744,
 'far': 2312,
 'max': 3954,
 'pulling': 5063,
 'runway': 5529,
 'making': 3889,
 'mate': 3947,
 'response': 5384,
 'cb': 988,
 'hello': 2966,
 'four': 2555,
 'since': 5838,
 'landed': 3611,
 'phx': 4755,
 'tarmac': 6343,
 'plus': 4839,
 'report': 5336,
 'baggage': 537,
 'claim': 1128,
 'leaf': 3653,
 'midnight': 4048,
 'charged': 1040,
 'say': 5592,
 'oh': 4448,
 'ridiculous': 5440,
 'preferred': 4926,
 'mechanical': 3982,
 'occurred': 4428,
 'houston': 3094,
 'earlier': 1969,
 'hope': 3063,
 'iad': 3133,
 'helping': 2972,
 'different': 1751,
 'story': 6148,
 'nope': 4345,
 'apparently': 314,
 'way': 7041,
 'guess': 2844,
 'southwest': 6000,
 'lax': 3644,
 'travel': 6618,
 'friendly': 2593,
 'nomorevirgin': 4326,
 'bravo': 790,
 'handling': 2880,
 'msp': 4172,
 'missed': 4094,
 'surprise': 6255,
 'bday': 582,
 'reason': 5179,
 'crashed': 1455,
 'update': 6839,
 'moving': 4164,
 'usair': 6862,
 'idiot': 3151,
 'amp': 247,
 'gave': 2678,
 'else': 2036,
 'fudgers': 2626,
 'philly': 4743,
 'orlando': 4524,
 'truly': 6658,
 'break': 793,
 'unitedbreaksguitars': 6789,
 'wantmymoneyback': 7020,
 'outstanding': 4553,
 'moved': 4161,
 'mountain': 4156,
 'francisco': 2563,
 'waited': 6992,
 'stuffy': 6187,
 'americanairlines': 235,
 'frustrated': 2613,
 'seems': 5678,
 'concerned': 1291,
 'cousin': 1430,
 'pdx': 4689,
 'hire': 3013,
 'sitter': 5854,
 'til': 6505,
 'arrives': 378,
 'thx': 6490,
 'keepitup': 3534,
 'bird': 670,
 'warmer': 7023,
 'statement': 6097,
 'lufthansa': 3842,
 'incentive': 3217,
 'offer': 4438,
 'digital': 1757,
 'journal': 3495,
 'nashville': 4215,
 'kidding': 3545,
 'military': 4065,
 'folk': 2511,
 'cold': 1202,
 'stlouis': 6132,
 'enjoyed': 2088,
 'asking': 399,
 'kid': 3544,
 'address': 86,
 'tb': 6352,
 'acct': 54,
 'true': 6656,
 'fuck': 2620,
 'locator': 3770,
 'aurorabiz': 457,
 'phlairport': 4746,
 'handler': 2879,
 'broke': 824,
 'suitcase': 6215,
 'stole': 6138,
 'camera': 917,
 'returned': 5412,
 'trash': 6617,
 'american': 233,
 'desk': 1703,
 'queuing': 5099,
 'headphone': 2941,
 'jack': 3407,
 'working': 7182,
 'trip': 6641,
 'epic': 2115,
 'inconvenience': 3232,
 'anku': 271,
 'nonexistent': 4331,
 'apparent': 313,
 'remote': 5307,
 'outpost': 4547,
 'busy': 877,
 'airport': 155,
 'city': 1125,
 'ok': 4454,
 'registration': 5261,
 'team': 6359,
 'system': 6306,
 'failure': 2294,
 'last': 3624,
 'week': 7061,
 'currently': 1513,
 'ogg': 4447,
 'jlhalldc': 3475,
 'relation': 5278,
 'review': 5423,
 'concern': 1290,
 'contact': 1348,
 'directly': 1772,
 'john': 3482,
 'bereavement': 629,
 'discount': 1797,
 'airfare': 149,
 'grandfather': 2791,
 'passed': 4647,
 'attend': 440,
 'glad': 2730,
 'ive': 3403,
 'transferred': 6606,
 'without': 7151,
 'resolving': 5375,
 'imaginedragons': 3180,
 'beatsmusic': 594,
 'timed': 6511,
 'tweet': 6692,
 'boarded': 727,
 'cll': 1159,
 'let': 3679,
 'importantflight': 3196,
 'try': 6664,
 'happens': 2892,
 'allrepresentativesbusy': 200,
 'nooption': 4344,
 'entire': 2104,
 'process': 4994,
 'sooooo': 5980,
 'long': 3791,
 'decent': 1611,
 'customerservice': 1528,
 'getting': 2709,
 'paradise': 4620,
 'safely': 5547,
 'explain': 2249,
 'eager': 1966,
 'ask': 396,
 'vision': 6969,
 'ccicanine': 994,
 'guide': 2848,
 'dog': 1867,
 'baby': 510,
 'hannah': 2887,
 'life': 3697,
 'saving': 5589,
 'surgery': 6252,
 'plz': 4840,
 'bring': 813,
 'cstmr': 1496,
 'srvc': 6069,
 'ctr': 1500,
 'start': 6088,
 'mine': 4071,
 'actual': 71,
 'person': 4721,
 'dispute': 1825,
 'charge': 1039,
 'card': 943,
 'best': 634,
 'requesting': 5346,
 're': 5153,
 'kicked': 3542,
 'entirely': 2105,
 'unhelpful': 6777,
 'wasting': 7032,
 'idea': 3147,
 'actually': 72,
 'yall': 7242,
 'right': 5444,
 'past': 4656,
 'tense': 6384,
 'miserable': 4084,
 'usual': 6886,
 'clt': 1171,
 'continue': 1361,
 'impress': 3198,
 'mco': 3966,
 'professional': 5000,
 'ouch': 4537,
 'due': 1946,
 'qro': 5087,
 'seem': 5676,
 'falling': 2302,
 'apart': 306,
 'alwaysdelayed': 219,
 'unitedfail': 6790,
 'row': 5500,
 'cc': 993,
 'everytime': 2173,
 'returning': 5413,
 'provide': 5038,
 'information': 3277,
 'instruction': 3315,
 'pas': 4641,
 'amsterdam': 248,
 'jet': 3444,
 'gotcha': 2777,
 'correlate': 1397,
 'flightd': 2448,
 'chance': 1027,
 'replacement': 5331,
 'case': 968,
 'cost': 1401,
 'le': 3650,
 'rather': 5147,
 'forced': 2525,
 'sit': 5850,
 'push': 5075,
 'hi': 2993,
 'booked': 742,
 'add': 79,
 'leaving': 3662,
 'warning': 7026,
 'communication': 1247,
 'shitty': 5773,
 'space': 6009,
 'empty': 2064,
 'ffl': 2367,
 'message': 4024,
 'international': 3345,
 'road': 5463,
 'condition': 1296,
 'horrible': 3072,
 'told': 6545,
 'loyalty': 3832,
 'basically': 570,
 'flipped': 2469,
 'google': 2772,
 'refused': 5254,
 'despite': 1708,
 'neveragain': 4260,
 'dropped': 1932,
 'layover': 3646,
 'lack': 3597,
 'shined': 5766,
 'step': 6114,
 'return': 5411,
 'aware': 492,
 'premier': 4934,
 'access': 35,
 'closed': 1162,
 'terminal': 6388,
 'feel': 2352,
 'following': 2516,
 'worstcustomerservice': 7192,
 'guc': 2843,
 'suck': 6204,
 'pushed': 5077,
 'rude': 5514,
 'pt': 5053,
 'helpful': 2970,
 'thing': 6454,
 'high': 2998,
 'surely': 6248,
 'something': 5968,
 'join': 3484,
 'site': 5851,
 'app': 311,
 'favorite': 2333,
 'adding': 81,
 'columbus': 1217,
 'oakland': 4416,
 'bostonlogan': 758,
 'dispatchalerts': 1818,
 'fucking': 2625,
 'human': 3112,
 'disconnection': 1795,
 'excuse': 2206,
 'sweetheart': 6281,
 'screwed': 5637,
 'flyfrontier': 2488,
 'managed': 3898,
 'scramble': 5629,
 'calling': 914,
 'misplaced': 4092,
 'disaster': 1788,
 'board': 726,
 'airway': 162,
 'double': 1892,
 'twice': 6698,
 'den': 1662,
 'mpagent': 4165,
 'seanmfmadden': 5646,
 'peterstraubmma': 4729,
 'jmercadomma': 3477,
 'tonysimsmma': 6560,
 'vega': 6921,
 'nonstop': 4335,
 'big': 661,
 'guest': 2846,
 'require': 5347,
 'btw': 838,
 'sayin': 5593,
 'particularly': 4634,
 'poorly': 4864,
 'handled': 2878,
 'situation': 5856,
 'crazy': 1461,
 'run': 5526,
 'piece': 4767,
 'ruining': 5521,
 'ha': 2858,
 'fun': 2634,
 'full': 2632,
 'pay': 4678,
 'forth': 2546,
 'moodlighting': 4143,
 'cool': 1382,
 'calming': 915,
 'moodlitmonday': 4144,
 'literally': 3742,
 'retrieve': 5408,
 'save': 5585,
 'visit': 6970,
 'impact': 3188,
 'mother': 4153,
 'planned': 4799,
 'rule': 5522,
 'ice': 3136,
 'using': 6884,
 'cell': 1003,
 'flashlight': 2426,
 'come': 1225,
 'error': 2134,
 'purchase': 5069,
 'least': 3658,
 'cavalli': 985,
 'calf': 906,
 'interfering': 3340,
 'onboard': 4467,
 'equipment': 2126,
 'possible': 4882,
 'seeing': 5673,
 'sunset': 6228,
 'usvi': 6889,
 'jal': 3416,
 'cathay': 979,
 'pacific': 4585,
 'likingyoulessandless': 3714,
 'causing': 984,
 'inferior': 3266,
 'nationalized': 4222,
 'third': 6459,
 'world': 7184,
 'nation': 4220,
 'pm': 4841,
 'sent': 5704,
 'rdu': 5152,
 'think': 6457,
 'safety': 5549,
 'cant': 930,
 'memphis': 4011,
 'coming': 1235,
 'finger': 2403,
 'crossed': 1480,
 'submitted': 6196,
 'hoping': 3069,
 'quick': 5100,
 'decision': 1615,
 'tied': 6501,
 'donation': 1877,
 'annual': 283,
 'gala': 2665,
 'boundless': 770,
 'reader': 5164,
 'feedback': 2351,
 'benefit': 625,
 'atrocious': 433,
 'already': 207,
 'technical': 6365,
 'send': 5695,
 'screen': 5633,
 'shot': 5790,
 'question': 5097,
 'procedure': 4991,
 'confusion': 1312,
 'prevent': 4955,
 'fistfight': 2415,
 'contaced': 1347,
 'eyewitness': 2273,
 'news': 4272,
 'ripoff': 5449,
 'dpdfpp': 1906,
 'dealing': 1599,
 'crappy': 1453,
 'web': 7053,
 'form': 2539,
 'mobile': 4118,
 'device': 1727,
 'roc': 5475,
 'fam': 2306,
 'came': 916,
 'member': 4005,
 'dad': 1550,
 'used': 6879,
 'input': 3296,
 'duecto': 1947,
 'engine': 2083,
 'trouble': 6648,
 'willl': 7128,
 'argentina': 359,
 'whole': 7112,
 'rocked': 5477,
 'diversion': 1843,
 'keeping': 3531,
 'informed': 3279,
 'finally': 2394,
 'opening': 4493,
 'conversation': 1373,
 'disconnect': 1792,
 'stay': 6103,
 'checkout': 1068,
 'place': 4791,
 'able': 18,
 'interim': 3341,
 'expense': 2239,
 'stuff': 6186,
 'playing': 4812,
 'va': 6898,
 'citizen': 1124,
 'constantly': 1340,
 'offended': 4435,
 'derrick': 1688,
 'bussey': 876,
 'cry': 1489,
 'upset': 6853,
 'jt': 3503,
 'eventually': 2166,
 'completely': 1277,
 'unacceptable': 6727,
 'chicago': 1079,
 'lose': 3804,
 'caught': 981,
 'original': 4520,
 'land': 3610,
 'mel': 4000,
 'sticker': 6122,
 'clue': 1174,
 'confirming': 1306,
 'arranged': 373,
 'expedite': 2235,
 'answer': 286,
 'care': 945,
 'better': 645,
 'chairman': 1020,
 'connect': 1317,
 'sjc': 5863,
 'reroute': 5352,
 'global': 2737,
 'lounge': 3818,
 'menu': 4017,
 'yummy': 7285,
 'overbooked': 4557,
 'mia': 4038,
 'uvf': 6895,
 'economy': 2002,
 'special': 6021,
 'fligt': 2467,
 'status': 6101,
 'sunrise': 6226,
 'frankly': 2565,
 'standard': 6081,
 'sop': 5983,
 'boston': 757,
 'relate': 5277,
 'connecting': 1320,
 'gassing': 2674,
 'communicated': 1246,
 'point': 4847,
 'silence': 5825,
 'sat': 5577,
 'broken': 825,
 'joke': 3486,
 'confused': 1310,
 'definition': 1632,
 'extra': 2264,
 'regular': 5264,
 'legroom': 3672,
 'unimpressed': 6780,
 'phl': 4745,
 'nowhere': 4390,
 'accurate': 57,
 'group': 2827,
 'frm': 2600,
 'food': 2519,
 'comp': 1251,
 'additional': 83,
 'dollar': 1871,
 'hole': 3034,
 'however': 3096,
 'failed': 2288,
 'solution': 5959,
 'straight': 6152,
 'happen': 2889,
 'cruise': 1485,
 'claimed': 1129,
 'exact': 2186,
 'explained': 2250,
 'reopens': 5321,
 'divert': 1844,
 'closer': 1164,
 'acy': 74,
 ...}

![](2022-11-22-02-17-27.png)

## TF-IDF

In [60]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [61]:
tf_idf_vectorizer = TfidfVectorizer()

X_train_tf_idf = tf_idf_vectorizer.fit_transform(X_train)   # When we say fit, it first determines whether it is passed in each line and then the number of passes in each document.
X_test_tf_idf = tf_idf_vectorizer.transform(X_test)     # Applies the TF-IDF Formula.

In [63]:
tf_idf_vectorizer.get_feature_names_out()

array(['aa', 'aaaand', 'aaadvantage', ..., 'zrh', 'zukes', 'zurich'],
      dtype=object)

In [64]:
X_train_tf_idf.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [66]:
df_tfidf = pd.DataFrame(X_train_tf_idf.toarray(), columns = tf_idf_vectorizer.get_feature_names_out())
df_tfidf

,aa,aaaand,aaadvantage,aaalwayslate,aacustomerservice,aadavantage,aadv,aadvantage,aafail,aaron,...,yyz,zabsonre,zambia,zero,zfv,zkatcher,zone,zrh,zukes,zurich
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7316,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
X_train[5]

'virginamerica seriously would pay flight seat playing really bad thing flying va'

In [68]:
df_tfidf.loc[2].sort_values(ascending = False)

bit         0.565101
follow      0.449861
yes         0.401677
dm          0.397842
ca          0.341823
              ...
fleek       0.000000
flawless    0.000000
flaw        0.000000
flavor      0.000000
zurich      0.000000
Name: 2, Length: 7300, dtype: float64

In [69]:
X_test[3]

'virginamerica really aggressive blast obnoxious entertainment guest face amp little recourse'

In [70]:
df_tfidf = pd.DataFrame(X_train_tf_idf.toarray(), columns = tf_idf_vectorizer.get_feature_names_out())
df_tfidf

,aa,aaaand,aaadvantage,aaalwayslate,aacustomerservice,aadavantage,aadv,aadvantage,aafail,aaron,...,yyz,zabsonre,zambia,zero,zfv,zkatcher,zone,zrh,zukes,zurich
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7316,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
# Done !